@font-face {
  font-family: "Bau";
  src: local("Bau"),
    url("font/BauhausRegular.otf") format("opentype"), url("font/BauhausRegular.woff2") format("woff2");
}
@font-face {
  font-family: "BauLight";
  src: local("BauLight"),
    url("font/BauhausPro-Light.otf") format("opentype"), url("font/BauhausPro-Light.woff2") format("woff2");
}
body{
  background: #7f968f;
  /* background-image: url("sarah.jpg"); */
  /* background-position: center; */
  /* background-attachment: fixed; */
  font-size: 16px;
  color:black;
  font-family: 'BauLight', sans-serif;
}

.cover-art{
        max-width:400px;
}

img{
  width:100%;
}

h1{
    mix-blend-mode: overlay;
    text-align:center;
    font-size: 5em;
    font-family:impact, sans-serif;
    /* line-height:1em; */
    color:white;
}

h2{
  text-align:center;
}

h3{
    margin-top: 50px;
}

p{
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top:0;
}

a{
  /* color: grey; */
}
a:visited{
  /* color: grey; */
}
li{
  /* font-size: 1.2em; */
  /* line-height: 1.4em; */
}
li::marker {
  /* color:grey; */
}

#wrapper{
  max-width:400px;
  margin:auto;
  display:block;
  background:rgba(255, 255, 255, .8);
  padding: 10px;

}


/* BEGIN TABLET STYLES */
@media screen and (min-width: 600px){
    .info{
        display: grid;
        grid-auto-flow: column;
    }

    .info img{
        max-width:250px;
    }

    .info p{
        margin-left: 20px;
    }

}/* This is the closing curly brace for the media query */

/* START LARGER SCREENS */
@media screen and (min-width: 1100px){
    /* #wrapper{
      max-width:1000px;
  } */

  .info img{
      max-width:350px;
  }

 }/* This is the closing curly brace for the media query */
